* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

section {
    margin-bottom: 100px;
}

.header-section {
    height: 650px;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/donation2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-text {
    text-align: center;
}

.header-text h1 {
    font-size: 60px;
    padding: 50px;
    color: yellow;
}

.header-text p {
    font-size: 18px;
    align-items: center;
    color: beige;
    margin: 50px;
}

.donate-btn {
    padding: 15px 40px;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    border-radius: 5px;
    color: white;
}

h1 {
    text-align: center;
    color: black;
    font-size: 50px;
    margin-bottom: 30px;
}

p {
    text-align: center;
    font-size: 18px;
    color: #241a1a;

}

.donate-amount {
    display: flex;
    width: 60%;
    margin: 30px auto;
}

.donate-amount h2 {
    height: 80px;
    padding: 15px 30px;
    background-color: #f7f7f7;
    margin-right: 20px;
    text-align: center;
    padding-top: 50px;
}

.donate-amount .two {
    border: 3px solid yellow;
    background-color: rgba(150, 53, 29, 0.521);
    border-radius: 5px;
}

.input-text {
    text-align: center;
    width: 50%;
    margin-left: 300px;
    text-decoration: none;
    margin-bottom: 50px;
    border: none;
    border-bottom: 1px solid black;
}

.btn {
    margin-left: 600px;
}




.donate-plan {
    margin-bottom: 50px;
}

h1 {
    text-align: center;
    color: black;
    font-size: 50px;
}

.donate-plan p {
    text-align: center;
    font-size: 18px;
    color: #241a1a;
}

/* Blog-Section start from here */
.full-blog {
    display: flex;
    width: 80%;
    margin: 30px auto;

}

.blog-text {
    width: 500px;
}

.blog-text h1 {
    font-size: 30px;
    margin: 30px 40px;
}

.blog-text p {
    text-align: center;
}

.blog-img img {
    width: 400px;
    height: 450px;
    border-radius: 10px;
}

/* Blog-section Ends here */

.donate-card {
    display: flex;
    margin-left: 100px;
}






.card {
    width: 350px;
    height: 400px;
    background-color: rgb(182, 231, 172);
    border-radius: 8px;
    margin: 15px;
}

.food-card {
    background-color: #4f9da61a;
}

.edu-card {
    background-color: #fff4d6;
}

.medi-card {
    background-color: #ff59591a;
}

.card img {
    height: 70px;
    width: 80px;
    padding-top: 50px;
}

.card h3 {
    text-align: center;
    font-size: 30px;
}

.card p {
    text-align: center;
    padding: 10px;
}

p {
    text-align: center;
}



.email-card {
    width: 70%;
    height: 150px;
    background-color: rgba(177, 197, 66, 0.76);
    margin: 30px auto;
    border-radius: 5px;
    text-align: center;
}

.email {
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    color: gray;
    border: none;
    font-size: 16px;
    font-weight: bold;
}

.tomato-color {
    background-color: tomato;
}

footer {
    background-color: black;
    height: 200px;
    width: 100%;
}

footer h1 {
    color: red;
    font-size: 30px;
    padding-top: 30px;
    font-family: 'Lobster', cursive;
    margin: 30px auto;
}

footer .name {
    color: yellow;
}

footer p {
    color: white;
}